<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
    <!-- 地図埋め込み -->
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.openstreetmap.org/export/embed.html?bbox=130.54873466491702%2C31.59079383847477%2C130.55149734020236%2C31.592662733331217&amp;layer=mapnik&amp;marker=31.59172829058935%2C130.55011600255966" allowfullscreen="" style="border: 1px solid black"></iframe><br/>
        <small><a href="https://www.openstreetmap.org/?mlat=31.59173&amp;mlon=130.55012#map=19/31.59173/130.55012">大きな地図を表示</a></small><br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d212.40867670867596!2d130.55013045293293!3d31.59169213806899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1712973630297!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
    <!-- 地図埋め込み -->
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.openstreetmap.org/export/embed.html?bbox=130.54873466491702%2C31.59079383847477%2C130.55149734020236%2C31.592662733331217&amp;layer=mapnik&amp;marker=31.59172829058935%2C130.55011600255966" allowfullscreen="" style="border: 1px solid black"></iframe><br/>
        <small><a href="https://www.openstreetmap.org/?mlat=31.59173&amp;mlon=130.55012#map=19/31.59173/130.55012">大きな地図を表示</a></small><br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d212.40867670867596!2d130.55013045293293!3d31.59169213806899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1712973630297!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </div>
</section>
{% endif %}
<!-- End About -->