<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- プロジェクトの詳細はこちら -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              {% for visual in project.list %} 
                {% if visual.type == "video" %}
                <video
                  class="img-fluid d-block mx-auto"
                  src="{{ visual.path }}"
                  loop
                  autoplay
                  muted
                ></video>
                {% else %}
                <img
                  class="img-fluid d-block mx-auto"
                  src="{{ visual.path }}"
                />
                {% endif %} 
              {% endfor %}
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.portfolio.closebutton | default: "Close
                Project" }}
              </button>
            </div>
          </div>
        </div>
        <!-- 免責 -->
        {% if project.isMc %}
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="service-small text-muted">{{site.mcDisclaimer }}</div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
